<nav class="navbar navbar-default navbar-inverse navbar-theme navbar-theme-abs navbar-theme-dark navbar-theme-border" id="main-nav">
    <div class="container">
        <div class="navbar-inner nav">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target="#navbar-main" data-toggle="collapse" type="button" area-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="https://buupass.com/app/themes/bus/assets/images/logo.png" alt="BuuPass" title="BuuPass" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/flights" role="button" aria-haspopup="true" aria-expanded="false">All flights</a>
                    </li>
                    <li class="active">
                        <a href="/flights?utm_source=site-main-navigation-menu" role="button" aria-haspopup="true" aria-expanded="false">Search flight</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="_desk-h">Currency</span>
                            <b>USD</b>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="_desk-h">Language</span>
                            <img class="navbar-flag" src="/public/img/flag_codes/US.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-xxl">
                            <h5 class="dropdown-meganav-select-list-title">Languages</h5>
                            <div class="row" data-gutter="10">
                                <div class="col-md-3">
                                    <ul class="dropdown-meganav-select-list-lang">
                                        <li>
                                            <a href="#"> <img src="/public/img/flag_codes/UK.png" alt="Image Alternative text" title="Image Title" />English(UK) </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="dropdown-meganav-select-list-lang">
                                        <li>
                                            <a href="#"> <img src="/public/img/flag_codes/CN.png" alt="Image Alternative text" title="Image Title" />Chinese(CN) </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="dropdown-meganav-select-list-lang">
                                        <li>
                                            <a href="#"> <img src="/public/img/flag_codes/FR.png" alt="Image Alternative text" title="Image Title" />French(FR) </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="dropdown-meganav-select-list-lang">
                                        <li>
                                            <a href="#"> <img src="/public/img/flag_codes/SP.png" alt="Image Alternative text" title="Image Title" />Spanish(SP) </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-nav-item-user">
                        <a href="/login" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user-circle-o navbar-nav-item-user-icon"></i>Login </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
