<div class="theme-payment-page-form passenger" style="margin-top: 13px;">
    <h3 class="theme-payment-page-form-title">Passenger <span class="number"><%= number %></span></h3>
    <div class="row row-col-gap" data-gutter="20">
        <div class="col-md-6 ">
            <div class="theme-payment-page-form-item form-group">
                <input class="form-control" required type="number" name="phone" placeholder="Phone" />
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="theme-payment-page-form-item form-group">
                <i class="fa fa-angle-down"></i>
                <select class="form-control" name="gender">
                    <option>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="theme-payment-page-form-item form-group">
                <input class="form-control" required type="text" placeholder="First Name" name="firstname" />
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="theme-payment-page-form-item form-group">
                <input class="form-control" required type="text" placeholder="Last Name" name="lastname" />
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="theme-payment-page-form-item form-group">
                <input class="form-control" type="number" placeholder="ID Number" name="idnumber" />
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="theme-payment-page-form-item form-group">
                <i class="fa fa-angle-down"></i>
                <input class="form-control" type="text" required placeholder="Kenya" value="Kenya" name="country" />
            </div>
        </div>
    </div>
</div>
